<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="bosch_arm_gazebo" params="name">
    <gazebo reference="${name}_link">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${name}_link1">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${name}_link2">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${name}_link3">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${name}_link4">
      <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo>
      <controller:gazebo_ros_p3d name="p3d_base_controller" plugin="libgazebo_ros_p3d.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>100.0</updateRate>
        <bodyName>${name}_link</bodyName>
        <topicName>${name}_pose_ground_truth</topicName>
        <gaussianNoise>0.01</gaussianNoise>
        <frameName>map</frameName>
        <xyzOffsets>0 1.23 0</xyzOffsets> <!-- initialize odometry for fake localization-->
        <rpyOffsets>0 0 0</rpyOffsets>
        <interface:position name="p3d_base_position"/>
      </controller:gazebo_ros_p3d>
      <canonicalBody>${name}_footprint</canonicalBody>
    </gazebo>
  </xacro:macro>

</robot>
