<launch>
  <arg name="robot" default="false"/>
  <arg name="monitor_robot_state" default="$(arg robot)"/>
  <arg name="allow_trajectory_execution" default="$(arg robot)"/>
  
  <arg name="constraint_aware" default="true"/>
  <arg name="teleop_period" default="0.03333"/>

  <arg name="debug" default="false"/>
  <arg if="$(arg debug)" name="rviz_prefix" value="xterm -e gdb -ex run --args"/>
  <arg unless="$(arg debug)" name="rviz_prefix" value=""/>

  <param unless="$(arg monitor_robot_state)" name="robot_description" textfile="$(find planning_models)/test/urdf/robot.xml" />
  <param name="robot_description_semantic" textfile="$(find planning_models)/test/srdf/robot.xml" />

  <rosparam if="$(arg allow_trajectory_execution)" command="load" file="$(find pr2_moveit_config)/config/pr2_both_arms_controllers.yaml" />

  <group ns="robot_description_planning">
    <rosparam command="load" file="$(find pr2_moveit_config)/config/collision_matrix.yaml"/>
    <rosparam command="load" file="$(find pr2_moveit_config)/config/joint_limits.yaml"/>
  </group>
  
  <node unless="$(arg monitor_robot_state)" pkg="robot_state_publisher" type="state_publisher" name="rob_st_pub" />
  <node unless="$(arg monitor_robot_state)" pkg="moveit_visualization_ros" name="wall_clock_server" type="fake_time.py" />

  <node pkg="assisted_teleop" type="assisted_teleop_node" name="assisted_teleop_node" output="screen" launch-prefix="$(arg rviz_prefix)">
    <rosparam command="load" file="$(find pr2_moveit_config)/config/ompl_planning.yaml"/>
    <rosparam command="load" file="$(find pr2_moveit_config)/config/kinematics.yaml"/>
    <rosparam if="$(arg allow_trajectory_execution)" file="$(find pr2_moveit_config)/config/pr2_execution_controllers.yaml"/>
    <param name="request_adapters" value="default_planner_request_adapters/FixStartStateBounds default_planner_request_adapters/FixStartStatePathConstraints default_planner_request_adapters/FixWorkspaceBounds default_planner_request_adapters/FixStartStateCollision" />
    <param name="monitor_robot_state" value="$(arg monitor_robot_state)"/>
    <param name="allow_trajectory_execution" value="$(arg allow_trajectory_execution)"/>
    <param name="constraint_aware" type="bool" value="$(arg constraint_aware)" />
    <param name="teleop_period" type="double" value="$(arg teleop_period)" />
  </node>

</launch>
