<launch>
  <include file="$(find pr2_machine)/$(env ROBOT).machine" />
  <param name="/amcl/initial_pose_x" value="12.000" />
  <param name="/amcl/initial_pose_y" value="40.957" />
  <param name="/amcl/initial_pose_a" value="0.148" />

  <node name="amcl_restarter" pkg="grandslam" type="amcl_restarter" args="$(find grandslam_pr2)/launch/amcl_node.xml"/>
  <include file="$(find pr2_navigation_teleop)/teleop.xml" />
  <include file="$(find pr2_navigation_perception)/lasers_and_filters.xml" />
  <include file="$(find pr2_navigation_perception)/ground_plane.xml" />
  <include file="$(find pr2_navigation_global)/move_base.xml" />
</launch>
